.searchItem{
    display: flex;
    align-items: center;
    
}
.seachItem-links{
    display: flex;
    cursor: pointer;
    color: grey;
    height: 10px;
    transition: all ease 0.2s;
   
    align-items: center;
    margin-left: 20px;
}
.searchItem img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.seachItem-links:hover{
    color: white;
}